@import "tailwindcss";

@theme {
    /* Brand */
    --color-brand-accent: #EED300;
    --color-brand-primary: #1271BD;

    /* Backgrounds */
    --color-bg-app: #F8FAFC;
    --color-bg-card: #F8FAFC;

    /* Tabs */
    --color-tab-container: #D9EDFD;
    --color-tab-active: #F8FAFC;

    /* Status Pills */
    --color-status-process-bg: #FF383C;
    --color-status-process-text: #ffffff;

    --color-status-notstarted-bg: #cce7ff;
    /* Appoximation of #0088FF at 20% opacity */
    --color-status-notstarted-text: #5A5A5A;

    --color-status-completed-bg: #4ade80;
    /* From your previous green completed screenshot */
    --color-status-completed-text: #ffffff;

    /* Prediction Error Box */
    --color-box-error-bg: #FFDED9;
    --color-box-error-border: #852221;
    --color-box-error-text: #852221;

    /* Text */
    --color-text-primary: #595959;
    --color-text-secondary: #595959;

    /* Ticket Detail Header BG */
    --color-bg-warning-header: #FFF28B;

    /* Telemetry Box: Warning (Yellow) */
    --color-box-warn-bg: #FFFACE;
    --color-box-warn-text: #B67909;
    --color-box-warn-value: #754C00;

    /* Telemetry Box: Success (Green) */
    --color-box-success-bg: #CBF6E8;
    --color-box-success-text: #004629;
    --color-box-success-value: #006E40;

    /* Telemetry Box: Error (Red) - Reusing some from previous, adding specific values */
    --color-box-danger-bg: #FFDED9;
    --color-box-danger-text: #E84036;
    --color-box-danger-value: #852221;
}

body {
    background-color: var(--color-bg-app);
    -webkit-font-smoothing: antialiased;
    font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", SF Pro, Helvetica, Arial, sans-serif;
}